# INTRODUCTION
Providing a useful suggestion of products to online users to increase their consumption on websites is the goal of many companies nowadays. People usually select or purchase a new product based on some friend’s recommendations, comparison of similar products, or feedback from other users. In order to do all these tasks automatically, a recommender system must be implemented. The recommender systems are powerful tools that provide suggestions to the customers based on their behavior. In this project, a recommendation system using two methods will be built. The dataset that was used here consists of over 6000 movies and 3000 TV Shows. Both of them will be introduced in this project. We will select the algorithms that best fit the data and we will implement and compare them.


**Model Using Content-Based Filtering**

1. Using some features like cast, director, country, rating and genres.
2. Using the words in the movie/TV show descriptions as features

In [ ]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

#Imports

nltk - The Natural Language Toolkit (NLTK) is a Python library for Natural Language Processing which is used for extracting words from the descrption feautres.

In [ ]:
import numpy as np
import pandas as pd
import re

import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
from nltk.tokenize import word_tokenize

# Loading data

We are using "Netflix Movies and TV Shows" from https://www.kaggle.com/shivamb/netflix-shows

In [ ]:
netflix_data = pd.read_csv('/content/netflix_titles.csv')
netflix_data.head()

  show_id  ...                                        description
0      s1  ...  As her father nears the end of his life, filmm...
1      s2  ...  After crossing paths at a party, a Cape Town t...
2      s3  ...  To protect his family from a powerful drug lor...
3      s4  ...  Feuds, flirtations and toilet talk go down amo...
4      s5  ...  In a city of coaching centers known to train I...

[5 rows x 12 columns]

# Data Preprocessing

In [ ]:
#percentage of null values
netflix_data.isnull().sum()/(len(netflix_data))*100

show_id          0.000000
type             0.000000
title            0.000000
director        29.908028
cast             9.367549
country          9.435676
date_added       0.113546
release_year     0.000000
rating           0.045418
duration         0.034064
listed_in        0.000000
description      0.000000
dtype: float64

In [ ]:
#As a part preprocessing we remove the rows which have null values important features such as cast country and rating
netflix_data = netflix_data.dropna(subset=['cast', 'country', 'rating'])

# Recommendation Model 1

Using some features like *cast, director, country, rating and genres*.

Cosine similarity is the measure of similarity between two vectors, by computing the cosine of the angle between two vectors projected into multidimensional space. It can be applied to items available on a dataset to compute similarity to one another via keywords or other metrics. The similarity between two vectors (A and B) is calculated by taking the dot product of the two vectors and dividing it by the magnitude value as shown in the equation below. We can simply say that the CS score of two vectors increases as the angle between them decreases.

In [ ]:
movies = netflix_data[netflix_data['type'] == 'Movie'].reset_index()
movies = movies.drop(['index', 'show_id', 'type', 'date_added', 'release_year', 'duration', 'description'], axis=1)
movies.head()

          title  ...                                         listed_in
0       Sankofa  ...  Dramas, Independent Movies, International Movies
1  The Starling  ...                                  Comedies, Dramas
2  Je Suis Karl  ...                      Dramas, International Movies
3         Jeans  ...   Comedies, International Movies, Romantic Movies
4     Grown Ups  ...                                          Comedies

[5 rows x 6 columns]

In [ ]:
tv = netflix_data[netflix_data['type'] == 'TV Show'].reset_index()
tv = tv.drop(['index', 'show_id', 'type', 'date_added', 'release_year', 'duration', 'description'], axis=1)
tv.head()

                           title  ...                                          listed_in
0                  Blood & Water  ...    International TV Shows, TV Dramas, TV Mysteries
1                   Kota Factory  ...  International TV Shows, Romantic TV Shows, TV ...
2  The Great British Baking Show  ...                       British TV Shows, Reality TV
3              Dear White People  ...                             TV Comedies, TV Dramas
4                Falsa identidad  ...  Crime TV Shows, Spanish-Language TV Shows, TV ...

[5 rows x 6 columns]

In [ ]:
# Extract all the actors of all the movies on Netflix
actors = []

for i in movies['cast']:
    actor = re.split(r', \s*', i) 
    actors.append(actor)
    
flat_list = []
for sublist in actors:
    for item in sublist:
        flat_list.append(item)
        
actors_list = sorted(set(flat_list))

binary_actors = [[0] * 0 for i in range(len(set(flat_list)))]
# if a actor in the cast of the particular movie entry in binary_actors to 1 otherwise to 0
for i in movies['cast']:
    k = 0
    for j in actors_list:
        if j in i:
            binary_actors[k].append(1.0)
        else:
            binary_actors[k].append(0.0)
        k+=1
        
binary_actors = pd.DataFrame(binary_actors).transpose()
# Follow similar procedures for Directors      
directors = []

for i in movies['director']:
    if pd.notna(i):
        director = re.split(r', \s*', i)
        directors.append(director)
    
flat_list2 = []
for sublist in directors:
    for item in sublist:
        flat_list2.append(item)
        
directors_list = sorted(set(flat_list2))

binary_directors = [[0] * 0 for i in range(len(set(flat_list2)))]

for i in movies['director']:
    k = 0
    for j in directors_list:
        if pd.isna(i):
            binary_directors[k].append(0.0)
        elif j in i:
            binary_directors[k].append(1.0)
        else:
            binary_directors[k].append(0.0)
        k+=1
        
binary_directors = pd.DataFrame(binary_directors).transpose()
# Follow same procedures for countries as well       
countries = []

for i in movies['country']:
    country = re.split(r', \s*', i)
    countries.append(country)
    
flat_list3 = []
for sublist in countries:
    for item in sublist:
        flat_list3.append(item)
        
countries_list = sorted(set(flat_list3))

binary_countries = [[0] * 0 for i in range(len(set(flat_list3)))]

for i in movies['country']:
    k = 0
    for j in countries_list:
        if j in i:
            binary_countries[k].append(1.0)
        else:
            binary_countries[k].append(0.0)
        k+=1
        
binary_countries = pd.DataFrame(binary_countries).transpose()
# Follow same procedures for Genre as well
genres = []

for i in movies['listed_in']:
    genre = re.split(r', \s*', i)
    genres.append(genre)
    
flat_list4 = []
for sublist in genres:
    for item in sublist:
        flat_list4.append(item)
        
genres_list = sorted(set(flat_list4))

binary_genres = [[0] * 0 for i in range(len(set(flat_list4)))]

for i in movies['listed_in']:
    k = 0
    for j in genres_list:
        if j in i:
            binary_genres[k].append(1.0)
        else:
            binary_genres[k].append(0.0)
        k+=1
        
binary_genres = pd.DataFrame(binary_genres).transpose()
# Follow same procedures for rating as well
ratings = []

for i in movies['rating']:
    ratings.append(i)

ratings_list = sorted(set(ratings))

binary_ratings = [[0] * 0 for i in range(len(set(ratings_list)))]

for i in movies['rating']:
    k = 0
    for j in ratings_list:
        if j in i:
            binary_ratings[k].append(1.0)
        else:
            binary_ratings[k].append(0.0)
        k+=1
        
binary_ratings = pd.DataFrame(binary_ratings).transpose()

In [ ]:
binary = pd.concat([binary_actors, binary_directors, binary_countries, binary_genres], axis=1,ignore_index=True)
binary

      0      1      2      3      4      ...  29110  29111  29112  29113  29114
0       0.0    0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
1       0.0    0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
2       0.0    0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
3       0.0    0.0    0.0    0.0    0.0  ...    1.0    0.0    0.0    0.0    0.0
4       0.0    0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
...     ...    ...    ...    ...    ...  ...    ...    ...    ...    ...    ...
5275    0.0    0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    1.0
5276    0.0    0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    1.0
5277    0.0    0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
5278    0.0    0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
5279    0.0    0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0

[5280 rows x 29115 columns]

In [ ]:
#Follow same procedures for TV-Show as Movies
actors2 = []

for i in tv['cast']:
    actor2 = re.split(r', \s*', i)
    actors2.append(actor2)
    
flat_list5 = []
for sublist in actors2:
    for item in sublist:
        flat_list5.append(item)
        
actors_list2 = sorted(set(flat_list5))

binary_actors2 = [[0] * 0 for i in range(len(set(flat_list5)))]

for i in tv['cast']:
    k = 0
    for j in actors_list2:
        if j in i:
            binary_actors2[k].append(1.0)
        else:
            binary_actors2[k].append(0.0)
        k+=1
        
binary_actors2 = pd.DataFrame(binary_actors2).transpose()
        

countries2 = []

for i in tv['country']:
    country2 = re.split(r', \s*', i)
    countries2.append(country2)
    
flat_list6 = []
for sublist in countries2:
    for item in sublist:
        flat_list6.append(item)
        
countries_list2 = sorted(set(flat_list6))

binary_countries2 = [[0] * 0 for i in range(len(set(flat_list6)))]

for i in tv['country']:
    k = 0
    for j in countries_list2:
        if j in i:
            binary_countries2[k].append(1.0)
        else:
            binary_countries2[k].append(0.0)
        k+=1
        
binary_countries2 = pd.DataFrame(binary_countries2).transpose()

genres2 = []

for i in tv['listed_in']:
    genre2 = re.split(r', \s*', i)
    genres2.append(genre2)
    
flat_list7 = []
for sublist in genres2:
    for item in sublist:
        flat_list7.append(item)
        
genres_list2 = sorted(set(flat_list7))

binary_genres2 = [[0] * 0 for i in range(len(set(flat_list7)))]

for i in tv['listed_in']:
    k = 0
    for j in genres_list2:
        if j in i:
            binary_genres2[k].append(1.0)
        else:
            binary_genres2[k].append(0.0)
        k+=1
        
binary_genres2 = pd.DataFrame(binary_genres2).transpose()

ratings2 = []

for i in tv['rating']:
    ratings2.append(i)

ratings_list2 = sorted(set(ratings2))

binary_ratings2 = [[0] * 0 for i in range(len(set(ratings_list2)))]

for i in tv['rating']:
    k = 0
    for j in ratings_list2:
        if j in i:
            binary_ratings2[k].append(1.0)
        else:
            binary_ratings2[k].append(0.0)
        k+=1
        
binary_ratings2 = pd.DataFrame(binary_ratings2).transpose()

In [ ]:
binary2 = pd.concat([binary_actors2, binary_countries2, binary_genres2], axis=1, ignore_index=True)
binary2

      0      1      2      3      4      ...  13566  13567  13568  13569  13570
0       0.0    0.0    0.0    0.0    0.0  ...    1.0    0.0    1.0    0.0    0.0
1       0.0    0.0    0.0    0.0    0.0  ...    0.0    0.0    1.0    0.0    0.0
2       0.0    0.0    0.0    0.0    0.0  ...    0.0    0.0    1.0    0.0    0.0
3       0.0    0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
4       0.0    0.0    0.0    0.0    0.0  ...    0.0    0.0    1.0    0.0    0.0
...     ...    ...    ...    ...    ...  ...    ...    ...    ...    ...    ...
2017    0.0    0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
2018    0.0    0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
2019    0.0    0.0    0.0    0.0    0.0  ...    0.0    0.0    1.0    0.0    0.0
2020    0.0    0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
2021    0.0    0.0    0.0    0.0    0.0  ...    0.0    0.0    1.0    0.0    0.0

[2022 rows x 13571 columns]

In [ ]:
# Based on the input given We map with the binary_list and find the cosine similarity with each movies and print out top5
def recommender_model_1(search):
    cs_list = []
    binary_list = []
    if search in movies['title'].values:
        idx = movies[movies['title'] == search].index.item()
        for i in binary.iloc[idx]:
            binary_list.append(i)
        point1 = np.array(binary_list).reshape(1, -1)
        point1 = [val for sublist in point1 for val in sublist]    
        for j in range(len(movies)):
            binary_list2 = []
            for k in binary.iloc[j]:
                binary_list2.append(k)
            point2 = np.array(binary_list2).reshape(1, -1)
            point2 = [val for sublist in point2 for val in sublist]
            dot_product = np.dot(point1, point2)
            norm_1 = np.linalg.norm(point1)
            norm_2 = np.linalg.norm(point2)
            cos_sim = dot_product / (norm_1 * norm_2)
            cs_list.append(cos_sim)
        movies_copy = movies.copy()
        movies_copy['cos_sim'] = cs_list
        results = movies_copy.sort_values('cos_sim', ascending=False)
        results = results[results['title'] != search]    
        top_results = results.head(5)
        return(top_results)
    elif search in tv['title'].values:
        idx = tv[tv['title'] == search].index.item()
        for i in binary2.iloc[idx]:
            binary_list.append(i)
        point1 = np.array(binary_list).reshape(1, -1)
        point1 = [val for sublist in point1 for val in sublist]
        for j in range(len(tv)):
            binary_list2 = []
            for k in binary2.iloc[j]:
                binary_list2.append(k)
            point2 = np.array(binary_list2).reshape(1, -1)
            point2 = [val for sublist in point2 for val in sublist]
            dot_product = np.dot(point1, point2)
            norm_1 = np.linalg.norm(point1)
            norm_2 = np.linalg.norm(point2)
            cos_sim = dot_product / (norm_1 * norm_2)
            cs_list.append(cos_sim)
        tv_copy = tv.copy()
        tv_copy['cos_sim'] = cs_list
        results = tv_copy.sort_values('cos_sim', ascending=False)
        results = results[results['title'] != search]    
        top_results = results.head(5)
        return(top_results)
    else:
        return("Title not in dataset. Please check spelling.")

## 4.1. Recommending Movies

In [ ]:
recommender_model_1('Kal Ho Naa Ho')

                title  ...   cos_sim
1057          Soldier  ...  0.553399
3619  Chal Dhar Pakad  ...  0.530330
4079      Irada Pakka  ...  0.527645
4184        Kya Kehna  ...  0.505181
718          AK vs AK  ...  0.500000

[5 rows x 7 columns]

In [ ]:
recommender_model_1("Kuch Kuch Hota Hai")

                         title  ...   cos_sim
1451  Kabhi Khushi Kabhie Gham  ...  0.594812
1576       Hum Aapke Hain Koun  ...  0.516185
690              Hello Brother  ...  0.500773
3619           Chal Dhar Pakad  ...  0.486664
1443                 Duplicate  ...  0.473879

[5 rows x 7 columns]

In [ ]:
recommender_model_1('Rich in Love')

                           title  ...   cos_sim
3002          Couples Counseling  ...  0.470871
2855       Chadi Jawani Budhe Nu  ...  0.458349
2271  Don't Go Breaking My Heart  ...  0.438763
2302   Christmas Wedding Planner  ...  0.404226
1166         Mumbai Delhi Mumbai  ...  0.404226

[5 rows x 7 columns]

## Recommending TV shows

In [ ]:
recommender_model_1('The Blacklist')

                                    title  ...   cos_sim
143   The Assassination of Gianni Versace  ...  0.489898
673                                 Ozark  ...  0.466667
1290                        Life Sentence  ...  0.461880
1721                           Get Shorty  ...  0.456435
1113                             Unsolved  ...  0.456435

[5 rows x 7 columns]

In [ ]:
recommender_model_1('Friends')

                               title  ...   cos_sim
1352                        Episodes  ...  0.522233
1858             Pee-wee's Playhouse  ...  0.492366
1172                         The Fix  ...  0.455842
1310  The Honeymoon Stand Up Special  ...  0.455842
1605           Adam Ruins Everything  ...  0.455842

[5 rows x 7 columns]

In [ ]:
recommender_model_1('The Vampire Diaries')

                                    title  ...   cos_sim
1970                       The Messengers  ...  0.346688
1290                        Life Sentence  ...  0.335410
1987  The Twilight Zone (Original Series)  ...  0.335410
41                               Manifest  ...  0.334077
1266                        The Originals  ...  0.334077

[5 rows x 7 columns]

# Recommendation Model 2
Using words in the *Movie/TV show descriptions*

For paragraphs without complex punctuations and spacing, we used the built-in NLTK sentence tokenizer, called “Punkt tokenizer,” that comes with a pre-trained model. We can our own trained data models to tokenize text into sentences or therefore into words.

In [ ]:
movies_des = netflix_data[netflix_data['type'] == 'Movie'].reset_index()
movies_des = movies_des[['title', 'description']]
movies_des.head()

          title                                        description
0       Sankofa  On a photo shoot in Ghana, an American model s...
1  The Starling  A woman adjusting to life after a loss contend...
2  Je Suis Karl  After most of her family is murdered in a terr...
3         Jeans  When the father of the man she loves insists t...
4     Grown Ups  Mourning the loss of their beloved junior high...

In [ ]:
tv_des = netflix_data[netflix_data['type'] == 'TV Show'].reset_index()
tv_des = tv_des[['title', 'description']]
tv_des.head()

                           title                                        description
0                  Blood & Water  After crossing paths at a party, a Cape Town t...
1                   Kota Factory  In a city of coaching centers known to train I...
2  The Great British Baking Show  A talented batch of amateur bakers face off in...
3              Dear White People  Students of color navigate the daily slights a...
4                Falsa identidad  Strangers Diego and Isabel flee their home in ...

In [ ]:
filtered_movies = []
movies_words = []

for text in movies_des['description']:
    text_tokens = word_tokenize(text)
    tokens_without_sw = [word.lower() for word in text_tokens if not word in stopwords.words()]
    movies_words.append(tokens_without_sw)
    filtered = (" ").join(tokens_without_sw)
    filtered_movies.append(filtered)

movies_words = [val for sublist in movies_words for val in sublist]
movies_words = sorted(set(movies_words))
movies_des['description_filtered'] = filtered_movies
movies_des.head()

          title  ...                               description_filtered
0       Sankofa  ...  on photo shoot ghana , american model slips ba...
1  The Starling  ...  a woman adjusting life loss contends feisty bi...
2  Je Suis Karl  ...  after family murdered terrorist bombing , youn...
3         Jeans  ...  when father loves insists twin sons marry twin...
4     Grown Ups  ...  mourning loss beloved junior high basketball c...

[5 rows x 3 columns]

In [ ]:
filtered_tv = []
tv_words = []

for text in tv_des['description']:
    text_tokens = word_tokenize(text)
    tokens_without_sw = [word.lower() for word in text_tokens if not word in stopwords.words()]
    tv_words.append(tokens_without_sw)
    filtered = (" ").join(tokens_without_sw)
    filtered_tv.append(filtered)

tv_words = [val for sublist in tv_words for val in sublist]
tv_words = sorted(set(tv_words))
tv_des['description_filtered'] = filtered_tv
tv_des.head()

                           title  ...                               description_filtered
0                  Blood & Water  ...  after crossing paths party , cape town teen se...
1                   Kota Factory  ...  in city coaching centers known train india ’ f...
2  The Great British Baking Show  ...  a talented batch amateur bakers 10-week compet...
3              Dear White People  ...  students color navigate daily slights slippery...
4                Falsa identidad  ...  strangers diego isabel flee home mexico preten...

[5 rows x 3 columns]

In [ ]:
movie_word_binary = [[0] * 0 for i in range(len(set(movies_words)))]

for des in movies_des['description_filtered']:
    k = 0
    for word in movies_words:
        if word in des:
            movie_word_binary[k].append(1.0)
        else:
            movie_word_binary[k].append(0.0)
        k+=1
        
movie_word_binary = pd.DataFrame(movie_word_binary).transpose()

In [ ]:
tv_word_binary = [[0] * 0 for i in range(len(set(tv_words)))]

for des in tv_des['description_filtered']:
    k = 0
    for word in tv_words:
        if word in des:
            tv_word_binary[k].append(1.0)
        else:
            tv_word_binary[k].append(0.0)
        k+=1
        
tv_word_binary = pd.DataFrame(tv_word_binary).transpose()

In [ ]:
def recommender2(search):
    cs_list = []
    binary_list = []
    if search in movies_des['title'].values:
        idx = movies_des[movies_des['title'] == search].index.item()
        for i in movie_word_binary.iloc[idx]:
            binary_list.append(i)
        point1 = np.array(binary_list).reshape(1, -1)
        point1 = [val for sublist in point1 for val in sublist]    
        for j in range(len(movies_des)):
            binary_list2 = []
            for k in movie_word_binary.iloc[j]:
                binary_list2.append(k)
            point2 = np.array(binary_list2).reshape(1, -1)
            point2 = [val for sublist in point2 for val in sublist]
            dot_product = np.dot(point1, point2)
            norm_1 = np.linalg.norm(point1)
            norm_2 = np.linalg.norm(point2)
            cos_sim = dot_product / (norm_1 * norm_2)
            cs_list.append(cos_sim)
        movies_copy = movies_des.copy()
        movies_copy['cos_sim'] = cs_list
        results = movies_copy.sort_values('cos_sim', ascending=False)
        results = results[results['title'] != search]    
        top_results = results.head(5)
        return(top_results)
    elif search in tv_des['title'].values:
        idx = tv_des[tv_des['title'] == search].index.item()
        for i in tv_word_binary.iloc[idx]:
            binary_list.append(i)
        point1 = np.array(binary_list).reshape(1, -1)
        point1 = [val for sublist in point1 for val in sublist]
        for j in range(len(tv)):
            binary_list2 = []
            for k in tv_word_binary.iloc[j]:
                binary_list2.append(k)
            point2 = np.array(binary_list2).reshape(1, -1)
            point2 = [val for sublist in point2 for val in sublist]
            dot_product = np.dot(point1, point2)
            norm_1 = np.linalg.norm(point1)
            norm_2 = np.linalg.norm(point2)
            cos_sim = dot_product / (norm_1 * norm_2)
            cs_list.append(cos_sim)
        tv_copy = tv_des.copy()
        tv_copy['cos_sim'] = cs_list
        results = tv_copy.sort_values('cos_sim', ascending=False)
        results = results[results['title'] != search]    
        top_results = results.head(5)
        return(top_results)
    else:
        return("Title not in dataset. Please check spelling.")

## Recommending Movies

In [ ]:

recommender2('Kal Ho Naa Ho')

                           title  ...   cos_sim
161   Team America: World Police  ...  0.410993
577                     Mariposa  ...  0.410242
202                 Midnight Sun  ...  0.407223
1157             Chashme Baddoor  ...  0.403757
3629             Chashme Buddoor  ...  0.403757

[5 rows x 4 columns]

In [ ]:
recommender2("Kuch Kuch Hota Hai")

                                            title  ...   cos_sim
22    Naruto Shippuden: The Movie: The Lost Tower  ...  0.504647
2795                                   The Killer  ...  0.491808
3232                                   My Own Man  ...  0.491234
4759                                     Spy Time  ...  0.482220
1700                                   Baby Dolls  ...  0.478365

[5 rows x 4 columns]

In [ ]:
recommender2('Rich in Love')

                 title  ...   cos_sim
5084  The Time Machine  ...  0.502519
2588     Ali's Wedding  ...  0.484883
4243  Love on Delivery  ...  0.461880
4001           Honey 2  ...  0.431968
4618               Run  ...  0.428580

[5 rows x 4 columns]

## Recommending TV shows

In [ ]:
recommender2('The Blacklist')

                                title  ...   cos_sim
1925                        Stone Age  ...  0.433766
1207                         Creators  ...  0.414614
1228  Monty Python Best Bits (mostly)  ...  0.400892
942                 The King's Avatar  ...  0.400892
1610                      Alphablocks  ...  0.400028

[5 rows x 4 columns]

In [ ]:
recommender2('Friends')

                             title  ...   cos_sim
491             Thomas and Friends  ...  0.415241
1642                  Bondi Rescue  ...  0.403376
1301  Saint Seiya: The Lost Canvas  ...  0.401772
487                              H  ...  0.398790
872                BoJack Horseman  ...  0.393422

[5 rows x 4 columns]

In [ ]:
recommender2('The Vampire Diaries')

                                 title  ...   cos_sim
1354               Fullmetal Alchemist  ...  0.439799
1355  Fullmetal Alchemist: Brotherhood  ...  0.436694
1177      Back Street Girls -GOKUDOLS-  ...  0.408626
1057                       K.O.3an Guo  ...  0.404557
1676                     Day and Night  ...  0.386783

[5 rows x 4 columns]

# Conclusion

Taking the cast, director, country, rating and genres as features rather than the descriptions was definitely the better option because, most of the recommendations from descriptions were completely different genres with very little in common besides a few key words.
Hence **Recommender1 Model proved to be better.**